.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #210F37;
    --primary-color: #0058a3;
    --secondary-color: #123c69;
    --inverted-primary-color: #DCA06D;
    --inverted-secondary-color: #A55B4B;
}