.app_light_theme {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #210f37;
    --primary-color: #0058a3;
    --secondary-color: #123c69;
    --inverted-primary-color: #dca06d;
    --inverted-secondary-color: #a55b4b;
}
